body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header{
    width: 850px;
    display: flex;
    flex-direction: column;
}
@media (max-width:850px) {
    #header{
        width: 100%;
    }
}
#container{
    margin: 3%;
    margin-top: 3%;
    width: 760px;
    display: flex;
    flex-direction: column;
}
#maintitle{
    padding: 1.5%;
    margin-bottom: 3%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
}
#copy1{
    margin-left: 5%;
    width: 70%;
    font-family: Arial, sans-serif;   
    font-size: 2.4rem; 
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
#copy2{
    margin-right: 5%;
    width: 30%;
    font-family: Arial, sans-serif;   
    font-size: 1.8rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: right;
}
#mainbody1{
    margin-bottom: 4%;
    background-image: url(./source/canvastage4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
#copy3{
    padding-left: 6%;
    width: 65%;
    height: 550px;
    font-size: 1.5rem;
    line-height: 2.4rem;
}
#mainbody2, #mainbody4{
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 1%;
    display: flex;
}
#copy4, #copy5{
    width: 40%;
    font-family: Arial, sans-serif;   
    font-size: 1.8rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
#source1, #source2{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: right;
}
#mainbody3, #mainbody5{
    padding: 6%;
    padding-top: 0;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: justify;
}
@media (max-width:780px) {
    #container{
        width: 88%;
    }    
    #copy1{
        font-size: 2.1rem; 
    }
    #copy2{
        font-size: 1.4rem; 
    }
    #mainbody1{
        margin-bottom: 0.5%;
        background-position: center;
    }    
    #copy3{
        padding-left: 4%;
        width: 92%;
        height: 360px;
        text-align: justify;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    #mainbody2, #mainbody4{
        padding-left: 4%;
        padding-right: 4%;
    }     
    #copy4, #copy5{
        width: 60%;
        font-size: 1.5rem; 
    }
    #source1, #source2{
        width: 40%;
    }
    #mainbody3, #mainbody5{
        padding: 4%;
        padding-top: 0;
        padding-bottom: 6%;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }        
}