body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header{
    display: flex;
    flex-direction: column;
}
@media (max-width:900px) {
    #header{
        width: 100%;
    }
}
#container{
    width: 780px;
    display: flex;
    flex-direction: column;
}
#maintitle{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 6%;
    margin-right: 6%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
}
#copy1{
    width: 70%;
    margin-left: 7%;
    font-family: Arial, sans-serif;   
    font-size: 2.2rem; 
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
#copy2{
    width: 30%;
    margin-right: 7%;
    font-family: Arial, sans-serif;   
    font-size: 1.5rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: right;
}
#mainbody1{
    margin-bottom: 3%;
    background-image: url(./source/canvastage4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#copy3{
    width: 58%;
    margin-left: 12%;
    height: 640px;
    font-size: 1.3rem;
    line-height: 2.2rem;
}
#copy5{
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 3%;
    font-size: 1.15rem;
    line-height: 1.9rem;
    text-align: justify;
}
@media (max-width:750px) {
    #container{
        width: 100%;
    }
    #mainbody1{
        background-position: bottom;
    }
    #copy3{
        width: 76%;
        height: 355px;
        text-align: justify;
        font-size: 1.12rem;
        line-height: 1.9rem;
    } 
    #copy5{
        font-size: 1.1rem;
        line-height: 1.7rem;
    }   
}