body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header{
    width: 850px;
    display: flex;
    flex-direction: column;
}
@media (max-width:850px) {
    #header{
        width: 100%;
    }
}
#container{
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    padding-top: 3%;
    width: 780px;
    display: flex;
    flex-direction: column;
}
#maintitle{
    padding: 1.5%;
    margin-bottom: 3%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
}
#copy1{
    margin-left: 5%;
    width: 70%;
    font-family: Arial, sans-serif;   
    font-size: 2.4rem; 
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
#copy2{
    margin-right: 5%;
    width: 30%;
    font-family: Arial, sans-serif;   
    font-size: 1.8rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: right;
}
#mainbody1{
    margin-bottom: 3%;
    background-image: url(./source/canvastage4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#copy3{
    padding-left: 6%;
    width: 62%;
    height: 600px;
    font-size: 1.3rem;
    line-height: 2rem;
}
#mainbody2, #mainbody3{
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
}
#mainbody2{
    margin-bottom: 1.5%;
}
#copy4{
    width: 35%;
    font-family: Arial, sans-serif;   
    font-size: 1.7rem; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.03rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
#source1{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: right;
}
#copy5{
    font-size: 1.18rem;
    line-height: 1.9rem;
    text-align: justify;
}
@media (max-width:780px) {
    #container{
        width: 88%;
    }    
    #copy1{
        font-size: 2.1rem; 
    }
    #copy2{
        font-size: 1.4rem; 
    }
    #mainbody1{
        background-position: bottom;
    }
    #copy3{
        padding-left: 4%;
        width: 92%;
        height: 300px;
        text-align: justify;
        font-size: 1.1rem;
        line-height: 1.7rem;
    }
    #mainbody2, #mainbody3{
        padding-left: 4%;
        padding-right: 4%;
    }     
    #copy4{
        width: 55%;
        font-size: 1.4rem; 
    }
    #source1{
        width: 45%;
    }    
    #copy5{
        font-size: 1.1rem;
        line-height: 1.7rem;
    }   
}